$text-color: #2F80ED;

.btn-primary{
  background-color: white;
  color: $text-color;
  border-color: #2F80ED;
  border-radius: 0;

  &:hover{
    background-color: white;
    color: $text-color;
    border-color: #2A72D3;
  }

  &:active, &:focus{
    background-color: white;
    color: $text-color;
    border-color: #2F80ED;
  
  }

  &:active:focus{
    background-color: white;
    color: $text-color;
    border-color: #2F80ED;
  
  }

}

.form-group{
  padding-top: 50px;
}
.form-control{
    border-radius: 0 !important;
  }